<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div class="container">
            <form method="post" action="/register">
                <div class="form-group">
                    <label>Enter your name to chat</label>
                    <input type="text" required="" class="form-control" name="user_name"/>
                </div>
                <input type="submit" value="Join" class="btn btn-primary"/>
            </form>
        </div>
  </body>
</html>
